<!DOCTYPE html>
<html>
    <body>
    <title>Hello from Flask</title>

    <h2>Seleccione una opción</h2>

    <form id="myDialog">
        <input type="radio" id="id_button1" name="frm1" value="1" onclick="compute()">
        <label for="btn1">Boton 1</label><br>
        <input type="radio" id="id_button2" name="frm1" value="2" onclick="compute()">
        <label for="btn2">Boton 2</label><br>
        <input type="radio" id="id_button3" name="frm1" value="3" onclick="compute()">
        <label for="btn3">Boton 3</label><br>

        <p>{{ seleccion }}</p>
    </form>


    <script>
        function compute() {
            document.getElementById("myDialog").submit()
        }
    </script>

</body>

</html>